<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>916615195147-82v4uta0mdsu4a2q6il2h9qfu2f68oqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916615195147-82v4uta0mdsu4a2q6il2h9qfu2f68oqs</string>
	<key>API_KEY</key>
	<string>AIzaSyB0xLoAcBTZRYBDU8O2qBYhToEPynVZq7k</string>
	<key>GCM_SENDER_ID</key>
	<string>916615195147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serviberna.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-338db</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-338db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916615195147:ios:7b597a3f58d3f008</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-338db.firebaseio.com</string>
</dict>
</plist>